<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href=<%= vulneruby_engine.root_url %>>
      Contrast Security Ruby - Rails
    </a>
  </div>
</nav>
<div class="columns">
  <aside class="column is-2 hero aside is-fullheight" style="background: lightgray">
    <div>
      <div class="main">
        <ul class="menu-list">
          <li><a href=<%= sinatra_path %>>Contrast Security Ruby - Sinatra</a></li>
        </ul>
        <br/>
        <br/>
        <ul class="menu-list">
          <li><a href=<%= cmdi_path %>>CMD Injection</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= insecure_algorithm_path %>>Insecure Algorithm</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= misconfiguration_path %>>Misconfiguration</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= path_traversal_path %>>Path Traversal</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= reflection_injection_path %>>Reflection Injection</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= reflected_xss_path %>>Reflected XSS</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= regex_dos_path %>>Regex DoS</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= sql_injection_path %>>SQL Injection</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= ssrf_path %>>SSRF</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= unsafe_code_execution_path %>>Unsafe Code Execution</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= untrusted_deserialization_path %>>Untrusted Deserialization</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= xpath_injection_path %>>XPath Injection</a></li>
        </ul>
        <ul class="menu-list">
          <li><a href=<%= xxe_path %>>XXE</a></li>
        </ul>
      </div>
    </div>
  </aside>
  <br>
  <div class="column container">
    <%= yield %>
  </div>
</div>